/* LOGO */
.logo {

}



/* SOCIAL ICONS */
.social-icon {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 11px;

    &:hover {
        animation: scale-n-shake .5s ease-in-out forwards;
    }
}
